<div class="container">
  <h1 class="header">Image Search Abstraction Layer</h1>
  <label>By <a herf="http://nirmalrizal.com.np">Nirmal Rijal</a> | View project on <a herf="https://github.com/nirmalrizal53/FCC-Image-Search-Abstraction-Layer">Github</a></label>
  <blockquote>
    <h3>User Stories :</h3>
    <ul>
      <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
      <li>I can paginate through the responses by adding <code>/search_text?offset=5</code> parameter to the URL.</li>
      <li>I can get a list of the most recently submitted search strings.</li>
    </ul>
  </blockquote>

  <h2 class="header">Example Creation Usage:</h2>
  <p><code>http</code></p>
</div>
