<div class="container">
  <h1 class="header">Image Search Abstraction Layer</h1>
  <label>By <a herf="http://nirmalrizal.com.np">Nirmal Rijal</a> | View project on <a herf="https://github.com/nirmalrizal53/FCC-Image-Search-Abstraction-Layer">Github</a></label>
  <blockquote>
    <h3>User Stories :</h3>
    <ul>
      <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
      <li>I can paginate through the responses by adding <code>/search_text?offset=5</code> parameter to the URL.</li>
      <li>I can get a list of the most recently submitted search strings.</li>
    </ul>
  </blockquote>

  <h2 class="header">Example Search Usage:</h2>
  <p><code>https://freak-image-search.herokuapp.com/api/imagesearch/freecodecamp?offset=3</code></p>
  <h3 class="header">Output</h3>
  <p><code>
    0:<br>
      url	: "http://photos3.meetupstatic.com/photos/event/c/8/6/e/highres_443871310.jpeg"<br>
      snippet	: "Free Code Camp 3rd Meetup! - Free Code Camp Austin (Austin, TX ..."<br>
      thumbnail :	"http://ts3.mm.bing.net/th?id=OIP.M841912e11486aeacfa88f3b22ce801e7o0&pid=15.1"<br>
      context	: "http://www.meetup.com/Free-Code-Camp-Austin/events/227106186/"
  </code></p>
  <p><code>
    1	:<br>
      url	: "http://www5.pcmag.com/media/images/482369-free-code-camp-top.png?thumb=y"<br>
      snippet	: "Free Code Camp Review & Rating | PCMag.com"<br>
      thumbnail :	"http://ts4.mm.bing.net/th?id=OIP.M313f146809d985f6382c1929cf2f98fao0&pid=15.1"<br>
      context	: "http://www.pcmag.com/article2/0,2817,2493688,00.asp"<br>
  </code></p>
  <p><code>
    2:<br>
      url	"http://nosolotendencias.es/wp-content/uploads/2015/09/Free-Code-Camp.png"
      snippet	"Free Code Camp, aprende a programar trabajando para ONGs."
      thumbnail	"http://ts3.mm.bing.net/th?id=OIP.Mabab439c8ef2b789e8e07c82edcc1e68o0&pid=15.1"
      context	"http://nosolotendencias.es/free-code-camp-aprende-a-programar-trabajando-para-ongs/"
  </code></p>

  <h2 class="header">Example Recent Search View Usage:</h2><h3>Displays last 10 search</h3>
  <p><code>https://freak-image-search.herokuapp.com/api/recent</code></p>
  <h3 class="header">Output</h3>
  <p><code>
    0	: <br>
      term	: "freecodecamp"<br>
      when	: "9/27/2016, 1:32:16 PM"<br>
    1	: <br>
      term	"funny cats"<br>
      when	"9/25/2016, 7:39:05 PM"<br>
    2	: <br>
      term	"Google"<br>
      when	"9/25/2016, 7:38:48 PM"<br>
    3	: <br>
      term	"funny cats"<br>
      when	"9/25/2016, 7:36:47 PM"<br>
    4	: <br>
      term	"Google"<br>
      when	"9/25/2016, 7:35:55 PM"<br>
    5	: <br>
      term	"recent"<br>
      when	"9/25/2016, 6:50:11 PM"<br>
    6	: <br>
      term	"Banana"<br>
      when	"9/25/2016, 6:49:55 PM"<br>
    7	: <br>
      term	"Salman Khan"<br>
      when	"9/25/2016, 6:49:47 PM"<br>
    8	: <br>
      term	"Nirmal Rijal"<br>
      when	"9/25/2016, 6:49:33 PM"<br>
    9	: <br>
      term	"Nirmal Rijal"<br>
      when	"9/25/2016, 6:28:22 PM"<br>
  </code></p>



</div>
